body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  text-align:center;
}

#app {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2, h3, h4 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], textarea, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Lists */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Image Gallery */
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image-gallery li {
  flex: 1 0 21%;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.image-gallery img {
  max-width: 100%;
  display: block;
}

div > div {
  margin-bottom: 20px;
  margin-top:20px;
}

input[type="number" ], input[type="text"] {
  width: calc(250px);
  display: inline-block;
}


button {
  display: inline-block;
  margin-left: 10px;
}

div > button {
  margin-top: 10px;
}

#assignDroneDiv{
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.selecting{
  margin-right:30px;
}
.selecting:last-child{
  margin-right:15px;
}